* {
  margin: 0px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.link{
  text-decoration: none;
  color: $orange;
  transition: 2s ease;
  
  
  &:hover{
    color:$light_text;
  }
}

.pointer {
  cursor: pointer;
  letter-spacing: 1px;
}
