//Colores

$orange : rgba(255, 102, 0, 1);
$light_text : rgba(240, 240, 240, 1);
$light_background : rgba(242, 242, 242, 0.95);
$dark_text : rgba(33, 33, 33, 1);
$dark_background : rgba(33, 33, 33, 0.95);
